*.iml
.gradle
.project
.settings
/keystore.properties
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/.classpath
/app/bitcoinMainnet/
/app/bitcoinSignet/
/app/bitcoinTestnet/
/app/build
/app/release
/app/src/main/cpp/secrets.cpp
